@import './normalize.css';

@font-face {
  font-family: 'jostvf';
  src: url('https://pataruco.s3.amazonaws.com/public/jost-VF.ttf')
    format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'jostvf';
  font-weight: 100;
}

article {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

article p {
  font-size: 15vw;
  font-variation-settings: 'wght' 100, 'ital' 0;
}
