@import './normalize.css';
@import './fonts.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'jostvf';
  font-weight: 100;
}

article {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

article p {
  font-size: 10rem;
  font-variation-settings: 'wght' 100, 'ital' 0;
}
